@import "tailwindcss";
@import "./styles/theme.css";

html,
body,
#root{
    width:100%;
    min-height:100%;
}

body{
    margin:0;
    background:#F5F9FF;
    font-family:"Inter",sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family:"Poppins",sans-serif;
}